body {
  font-family: Garamond;
}
.header > th {
  font-style: italic;
  background-color: #b93939;
  padding-top: 5px;
  padding-bottom: 5px;
}

#menu-table {
  text-align: left;
  background-color: #f2f2f2;
  width: 100%;
}

.odd {
  background-color: gainsboro;
}

.even {
  background-color: #f2f2f2;
}

.menu-layout {
  text-align: center;
  max-width: 740px;
  margin: auto;
}
